.inner
  %h2 プロフィール情報
  .profile
    .profile-image
      = image_tag current_user.avatar_image
    .profile-name
      #{current_user.display_name}
    .profile-button
      = link_to t('activerecord.attributes.profile.edit_profile'), edit_profiles_path
  .profile-link
    = link_to t('activerecord.attributes.profile.edit_account'), edit_user_registration_path
