.inner
  %h2 カードの編集

  - if @card.eyecatch.attached?
    .eyecatch-preview
      = image_tag @card.eyecatch, alt: '登録済みのアイキャッチ', class: 'eyecatch-image'

  = render 'form', board: @board, card: @card
