@use "variables" as *;

.board {
	background: #f4f4f4;
	border-radius: 10px;
	padding: 16px 16px 32px;
	margin-bottom: 26px;

	&-link {
		width: 100%;
	}
	&-content {
		padding-bottom: 20px;
		&:hover {
			color: darkgray;
		}
	}

	&-title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 6px;
	}
	&-description {
		opacity: 0.4;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-cards {
		&-title {
			font-weight: bold;
			margin-bottom: 8px;
			font-size: 18px;
		}
		&-list {
			padding-left: 20px;
			.board-card:not(:first-child) {
				margin-top: 4px;
			}
		}
	}
	&-card {
		a {
		&:hover {
			color: darkgray;
		}
		}
	}
	&-create {
	border-radius: 10px;
	border: 1px dotted #00000033;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;

	&-content {
		font-size: 18px;
	}
}
}