@use "variables" as *;

.cards {
	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 24px;
	}
	&-item {
		background: #f4f4f4;
		border-radius: 10px;
		margin-bottom: 26px;
		@media (min-width: 768px) {
			width: 100%;
			margin-bottom: 0px;
		}
	}
	&-link {
		width: 100%;
		padding: 20px 16px 20px;
	}

	&-content-top {
	}
	&-icon {
		width: 24px;
		position: relative;
		display: inline-block;
	}
	&-title {
		font-size: 24px;
		font-weight: bold;
	}
	&-description {
		font-size: 18px;
		margin-top: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* 表示する最大行数 */
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&-author {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-image {
		margin-top: 4px;
		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}
	}
	&-name {
		font-size: 14px;
	}
	&-comment {
		display: flex;
		align-items: flex-start;
		gap: 4px;
		&-number {
			padding-top: 2px;
		}
		&-icon {
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
	&-content-middle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 16px;
	}
	&-content-bottom {
		margin-top: 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-status {
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			img {
				width: 24px;
				height: 24px;
			}
		}
	}
	&-deadline {
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}

.card {
	&-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
		gap: 24px;
	}
	&-title {
		padding-bottom: 0;
		max-width: 100%;
	}
	&-icon {
		width: 24px;
		padding-top: 8px;
		position: relative;
		display: inline-block;
	}

	&-comment {
		&-title {
			display: flex;
			justify-content: space-between;
			font-size: 26px;
			align-items: center;
			gap: 12px;
			margin-bottom: 12px;
		}
		&-content {
			display: flex;
			gap: 16px;
			margin-top: 16px;
			&.is-owner {
				flex-direction: row-reverse;


			.card-comment-text {
				position: relative;
			&::after {
				position: absolute;
				content: "";
				top: 12px;
				left: 100%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 0 8px 16px;
				border-color: transparent transparent transparent #F4F4F4;
			}
		}
			}
		}
		&-content:nth-child(2) {
			margin-top: 0;
		}
		&-text {
			font-size: 16px;
			width: 100%;
			background: #f4f4f4;
			padding: 8px;
			border-radius: 10px;
			position: relative;
			&::after {
				position: absolute;
				content: "";
				top: 12px;
				left: -16px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 16px 8px 0;
				border-color: transparent #f4f4f4 transparent transparent;
			}
		}
		&-date {
			font-size: 12px;
			margin-top: 12px;
			text-align: right;
		}
	}
	&-author {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
	}
	&-image {
		img {
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}
	}
	&-name {
		font-size: 14px;
		white-space: nowrap;
		text-align: center;
		width: 100%;
	}
	&-status {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
	}
	&-progress {
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			img {
				width: 24px;
				height: 24px;
			}
		}
	}
	&-deadline {
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
	&-text {
		display: flex;
		gap: 16px;
	}
	&-description {
		background: #f4f4f4;
		padding: 16px;
		font-size: 14px;
		border-radius: 10px;
		margin-bottom: 36px;
		width: 100%;
		position: relative;
		&::after {
			position: absolute;
			content: "";
			right: -16px;
			top: 12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 0 8px 16px;
			border-color: transparent transparent transparent #f4f4f4;
		}
	}
}

.create {
	margin-top: 24px;
	&-content {
		border-radius: 10px;
		border: 4px dotted #00000033;
		height: 160px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
	}
}

.card-icon:hover .dropdown-content {
	display: block;
}
