@use "variables" as *;

.filter {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 24px;
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
	}
	&-box {
		width: 150px;
		margin-right: 12px;
		border: 1px solid #ccc;
		border-radius: 6px;
		padding-left: 8px;
		&::placeholder {
			font-size: 14px;
		}
	}
	&-button {
		display: inline-block;
		padding: 6px;
		font-size: 14px;
		background-color: #f0f0f0;
		color: #333;
		text-decoration: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		transition:
			background-color 0.2s,
			color 0.2s;
		font-weight: bold;
		cursor: pointer;
	}
}

.sort-links {
	p {
		display: inline;
	}
}

.search {
	&-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
	&-item {
		display: flex;
	}
	&-sorts {
		display: flex;
		gap: 8px;
		width: 100%;
		margin-bottom: 12px;
		@media (min-width: 768px) {
			margin-bottom: 0px;
		}
	}
	&-buttons {
		.filter-button {
			&:last-child {
				letter-spacing: -2.5px;
			}
		}
	}
}

.search-item.is-board {
	margin-top: 12px;
	margin-bottom: 12px;
	justify-content: end;
	@media (min-width: 768px) {
		margin-top: 0px;
	}
}